.header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  padding: 20px 40px;
}
.header-menu {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.header a {
  text-decoration: none;
  color: black;
  padding: 40px;
}
@media (max-width: 660px) {
  .header {
    flex-direction: column;
    gap: 30px;
  }
  .header-menu li {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px 5px;
  }
}
@media (max-width: 530px) {
  .header-menu {
    flex-direction: column;
  }
}
